# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/
cmake-build-debug/
ex2/Instructions
ex2/diff.txt
ex2/ex2sanity/
ex2/output.txt
ex2/test.py
ex2/ex2.tar
ex2/tests/
ex3/ex_3_test_suite/Test_28/.MapReduceFrameworkLog
ex3/ex_3_test_suite/Test_28/scripts/.MapReduceFrameworkLog
ex3/ex_3_test_suite/Test_28/scripts/Inglourious_Basterds_test_results
ex3/ex_3_test_suite/Test_28/scripts/Pulp_Fiction_test_results
ex3/ex_3_test_suite/Test_28/scripts/Reservoir_Dogs_test_results
ex3/ex_3_test_suite/Test_28/test28
ex3/ex_3_test_suite/Test_496/.MapReduceFrameworkLog
ex3/ex_3_test_suite/Test_496/Search
ex3/ex_3_test_suite/Test_496/data_sets/
ex3/ex_3_test_suite/Test_496/heavy_data/
ex3/ex_3_test_suite/Test_496/light_data/
ex3/ex_3_test_suite/Test_6/.MapReduceFrameworkLog
ex3/ex_3_test_suite/Test_6/grid_test_results
ex3/ex_3_test_suite/Test_6/grids/grid125_test_results
ex3/ex_3_test_suite/Test_6/grids/grid25_test_results
ex3/ex_3_test_suite/Test_6/grids/grid5_test_results
ex3/ex_3_test_suite/Test_6/test6
ex4/Tests/BufferOutput1
ex4/Tests/BufferOutput2
ex4/Tests/BufferOutput3
ex4/Tests/BufferOutput4
ex4/Tests/BufferOutput5
ex4/Tests/CacheLog1
ex4/Tests/CacheLog2
ex4/Tests/CacheLog3
ex4/Tests/CacheLog4
ex4/Tests/CacheLog5
ex4/Tests/FilesToRead/
ex4/Tests/ResultFiles/
ex4/Tests/StatLog1
ex4/Tests/StatLog2
ex4/Tests/StatLog3
ex4/Tests/StatLog4
ex4/Tests/StatLog5
ex4/Tests/Test1
ex4/Tests/Test2
ex4/Tests/Test3
ex4/Tests/Test4
ex4/Tests/Test5
ex4/Tests/TestFiles/CacheFS.h
ex4/Tests/TestFiles/TestValgrind.cpp
ex4/Tests/Tests.py
ex4/Tests/Tests/
ex4/ex4.tar
